body{
    margin: 0;
    padding: 0;
    min-width: 320px;
}
* {
    margin: 0;
    padding: 0;
}
p{
    font-size:14px; 
}
/*header*/
/*nav*/
.navbar-default {
    background-color: transparent;
    border-color: #e7e7e7;
    height: 75px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition:all .3s ease;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
.navbar-nav>li>a, .navbar-brand {
    line-height: 75px;
    padding: 0 15px;
}

.navbar-brand h1{
    font-size: 35px;
    margin: 0;
    line-height: 75px;
    font-weight: 400;
    font-family: 'Pacifico', cursive;
    color: #343842;
}
.navbar-default .navbar-nav>li>a {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #343842;
    cursor: pointer;
}
.navbar-default .navbar-nav>li>a i{
    font-size: 24px;
    color: #343842;
}
/*drop menu*/
.drop-menu{
    position: absolute;
    display: none;
    width: 270px;
    background: #2d344d;
    margin-left: -80px;
}
.hover:hover .drop-menu{
    display: block;
}
.drop-menu li:first-child{
  margin-top: 20px;  
}
.drop-menu li:last-child{
  margin-bottom: 30px;  
}
.drop-menu li{
    list-style: none;
    text-decoration: none;
    color:#fff;  
}
.drop-menu li a
{
    text-align: center;
    color:#fff;
    display: block;
    padding: 8px 0;
    color: #8f96af;
    font-family: 'Montserrat', sans-serif;
    width: 194px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(143, 150, 175,.3);
}
.drop-menu li a:hover{
    text-decoration: none;
    color:#fff;
}
/*drop menu end*/
/*mobile-menu*/
#sub_menu_1{
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 10px; 
}
        
.mobile-menu .level_1{
    list-style: none;
    padding: 10px 5px;
    font-size: 30px;
    width: 270px;
}
       
        .mobile-menu .level_1 a{
            text-decoration: none;
            color: #343842;
            font-size: 16px;
            font-family: 'Lato', sans-serif;
            padding-left: 15px;
        }
        .mobile-menu{
            width: 270px;
            background: #fff;
            z-index: 9999;
            position: absolute;
            top: 55px;
            left: 0;
            display: none;
            
            
        }
        .btn{
            font-size: 16px;
            color: #343842;
            display: inline-block;
            float: right;
            transition:  transform 0.5s;
        }
        .trans{
            transform: rotate(-90deg);
        }

.navbar-toggle{
    border: none;
    margin-top: 12px;
}
.social-xs{
    font-size: 26px;
    position: fixed;
    float:right;
    right: 10px;
    top: 10px;
}
.social-xs i{
    padding-right: 15px;
}
/*mobile-menu-end*/
/*nav-end*/

header{
    background: url('../img/header-1.jpg') 0 0 no-repeat;
    height: 950px;
    background-size: cover;
}
.header-main{
font-family: 'Montserrat', sans-serif;
}
.header-main h1 small{
    font-size: 21px;
    color: #38424a;
    text-transform: uppercase;
    letter-spacing: .06em;
}
.header-main h1{
    font-size: 58px;
    color: #252525;
    margin-bottom: 30px;
    letter-spacing: 0.02em;
    line-height: 60px;
    margin-top: 200px;
}
.header-main p{
    font-size: 30px;
    line-height: 50px;
    font-family: 'Lato', sans-serif;
    color:#38424a;
    margin-top: 20px;
}
.header-main button{
    height: 50px;
    border-radius: 40px;
    background-color:transparent;
    border: 2px solid rgba(0,0,0,0.3);
    font-size: 15px;
    padding: 12px 26px;
    color:#252525;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 0.1em;
    cursor: pointer;
    margin: 0 10px;
    margin-top: 60px;
    transition: .2s all ease;
    outline: none;
}
.header-main button:hover{
    background-color: #14a5eb;
    border-color: #14a5eb;
    color:#fff;
    box-shadow: 0px 5px 50px -7px rgba(0,0,0,0.6);
    
}

/*header-end*/


