body{
    margin: 0;
    padding: 0;
    min-width: 320px;
}
* {
    margin: 0;
    padding: 0;
}
/*fixed*/

.display-none{
    display: none;
}
.h55{
    height: 55px !important;
}
.lh55{
    line-height: 55px !important;
}
.fixed{
    position: fixed !important;
    transform: translateY(-75px);
    height: 75px;
    left: 0;
    right: 0;
    background: #fff !important;
    width: 100%;
    display: block;
    animation: bounce 0.6s forwards ease;
    opacity: 0;
    z-index: 9999;
}
/*fixed*/
p{
    font-size:14px; 
}
/*header*/
/*nav*/
.navbar-default {
    background-color: transparent;
    border-color: #e7e7e7;
    height: 75px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    right: 0;  
    z-index: 9999;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    
}

.navbar .navbar-collapse {
    text-align: center;
}
.navbar-nav>li>a, .navbar-brand {
    line-height: 75px;
    padding: 0 15px;
}

.navbar-brand h1{
    font-size: 35px;
    margin: 0;
    line-height: 75px;
    font-weight: 400;
    font-family: 'Pacifico', cursive;
    color: #343842;
}
.navbar-default .navbar-nav>li>a {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #343842;
    cursor: pointer;
        transition: .3s color ease;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a i:hover{
        color: #006c9c;
}
.navbar-default .navbar-nav>li>a i{
    font-size: 24px;
    color: #343842;
        transition: .3s color ease;
}
/*drop menu*/
.drop-menu{
    position: absolute;
    display: none;
    width: 270px;
    background: #2d344d;
    margin-left: -80px;
}
.hover:hover .drop-menu{
    display: block;
}
.drop-menu li:first-child{
  margin-top: 20px;  
}
.drop-menu li:last-child{
  margin-bottom: 30px;  
}
.drop-menu li{
    list-style: none;
    text-decoration: none;
    color:#fff;  
}
.drop-menu li a
{
    text-align: center;
    color:#fff;
    display: block;
    padding: 8px 0;
    color: #8f96af;
    font-family: 'Montserrat', sans-serif;
    width: 194px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(143, 150, 175,.3);
}
.drop-menu li a:hover{
    text-decoration: none;
    color:#fff;
}
/*drop menu end*/
/*mobile-menu*/
#sub_menu_1{
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 10px; 
}
        
.mobile-menu .level_1{
    list-style: none;
    padding: 10px 5px;
    font-size: 30px;
    width: 270px;
}
       
        .mobile-menu .level_1 a{
            text-decoration: none;
            color: #343842;
            font-size: 16px;
            font-family: 'Lato', sans-serif;
            padding-left: 15px;
        }
        .mobile-menu{
            width: 270px;
            background: #fff;
            z-index: 9999;
            position: absolute;
            top: 55px;
            left: 0;
            display: none;
            z-index: 9999;
            
        }
        .btn{
            font-size: 16px;
            color: #343842;
            display: inline-block;
            float: right;
            transition:  transform 0.5s;
        }
        .trans{
            transform: rotate(-90deg);
        }

.navbar-toggle{
    border: none;
    margin-top: 12px;
}
.social-xs{
    font-size: 26px;
    position: fixed;
    float:right;
    right: 10px;
    top: 10px;
}
.social-xs i{
    padding-right: 15px;
}
/*mobile-menu-end*/
/*nav-end*/

header{
    background: url('../img/header-1.jpg') 0 0 no-repeat;
    height: 950px;
    background-size: cover;
    position: absolute;
   /* animation: background-header 15s infinite ;*/
    transition: all 0.9s;
    left: 0;
    right: 0;
    
}
.header-main{
font-family: 'Montserrat', sans-serif;
}
.header-main h1 small{
    font-size: 21px;
    color: #38424a;
    text-transform: uppercase;
    letter-spacing: .06em;
}
.header-main h1{
    font-size: 58px;
    color: #252525;
    margin-bottom: 30px;
    letter-spacing: 0.02em;
    line-height: 60px;
    padding-top: 200px;
}
.header-main p{
    font-size: 30px;
    line-height: 50px;
    font-family: 'Lato', sans-serif;
    color:#38424a;
    margin-top: 20px;
}
.header-main button{
    height: 50px;
    border-radius: 40px;
    background-color:transparent;
    border: 2px solid rgba(0,0,0,0.3);
    font-size: 15px;
    padding: 12px 26px;
    color:#252525;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 0.1em;
    cursor: pointer;
    margin: 0 10px;
    margin-top: 60px;
    transition: .2s all ease;
    outline: none;
}
.header-main button:hover{
    background-color: #14a5eb;
    border-color: #14a5eb;
    color:#fff;
    box-shadow: 0px 5px 50px -7px rgba(0,0,0,0.6);
    
}

/*header-end*/
/*main*/
main{
    padding-top: 950px;
}
/*theme*/
.theme{
    text-align: center;
    z-index: -1;
}
.theme h2{
    font-size: 47px;
    font-weight: 800;
    line-height: 1.4;
    color: #34495e;
    padding-top: 75px;
}
.theme p{
   padding-top: 15px;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: #546e7a;
        font-family: 'Lato',sans-serif;
    padding-left: 12%;
    padding-right: 12%;
}
.theme img{
    margin-top: 50px;
    box-shadow: 0 40px 66px 0 rgba(0, 0, 0, 0.25);
}
/*theme end*/
/*features*/
.features{
background: #f5f5f5;
    color: #546e7a;
    position: absolute;
    margin-top: -100px;
    left: 0;
    right: 0;
    padding-bottom: 70px;
    
}
.features h2{
    text-align: center;
      font-size: 47px;
    font-weight: 800;
    line-height: 1.4;
    color: #34495e;
    margin-top: 70px;
}
.work-p{
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Lato',sans-serif;
    padding-bottom: 70px;
}
.features i{
    color: #14a5eb;
    font-size: 70px;
}
.features-block h3{
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: #262032;
    font-size: 20px;
    padding-bottom: 20px;
}
.features-block{
    font-size: 14px;
    font-family: 'Lato',sans-serif;
    line-height: 25px;
}
/*features-end*/
/*main-end*/


/*animation*/

@keyframes bounce {

	100%	{ transform: translateY(0); 
    opacity: 1;}
	}

/*@keyframes background-header {
	1%{ background:url('../img/header-1.jpg') 0 0 no-repeat; }
	50%	{ background: url('../img/header-3.jpg') 0 0 no-repeat; }
	100%	{ background: url('../img/header-4.jpg') 0 0 no-repeat;}
    
	}